.home-page {
  min-height: 100%;
  .home__bg {
    height: calc(100vh - 60px);
    width: calc(100% + 40px);
    margin: 0 -20px;
    background-color: rgb(1,6,31);
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: auto;
      margin: auto 0;
    }
    .ivu-btn {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      border: 1px solid $color-theme;
      color: $color-theme;
      height: 50px;
      width: 200px;
      font-size: $font-size-large-x;
      animation: slideIn 1s ease;
      &:hover {
        color: #fff;
        border-color: #fff;
        background: hsla(0,0%,100%,.1);
        box-shadow: 0 0 10px rgba(50,250,255,.75);
      }
    }
    .ivu-icon {
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 40px;
      left: 50%;
      animation: upDown 2s linear infinite;
    }
  }
  .home__wrapper {
    margin: 0 auto;
  }

  .home__recommend {
    text-align: center;
    &__title {
      display: inline-block;
      font-size: 2rem;
      padding: 15px 0;
      text-align: center;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-theme;
        bottom: 2px;
      }
    }
    &__item {
      .header {
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 10px 0 40px 0;
        h2 {
          font-size: 1.5rem;
        }
        a {
          font-size: $font-size-medium-s;
        }
      }
      .ivu-row {
        .ivu-col {
          margin-bottom: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .home__wrapper {
      width: 80%;
    }
  }
  @media screen and (max-width: 576px) {
    .home__wrapper {
      width: 100%;
    }
  }
  @media screen and (min-width: 992px) {
    .home__wrapper {
      width: 60%;
      .home__recommend {
        margin-left: -25%;
        margin-right: -25%;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .home__wrapper {
      width: 50%;
      .home__recommend {
        margin-left: -20%;
        margin-right: -20%;
      }
    }
  }
  @keyframes upDown {
    0% {
      transform: translate(-50%, 5px);
    }

    50% {
      transform: translate(-50%, 30px);
    }

    100% {
      transform: translate(-50%, 5px);
    }
  }
  @keyframes slideIn {
    from {
      transform: translate(-50%, calc(-50% - 10px));
      opacity: 0;
    }
    to {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}
