.login-page {
  width: 100%;
  &__title {
    text-align: center;
    width: 100%;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 40px;
  }
  &__form-wrapper {
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 2px 12px 0 $color-weak;
    background: $color-white;
    width: 100%;
    padding: 0 1.5rem 2rem;
    &__header {
      margin: 0 -1.5rem;
      display: flex;
      border-bottom: 1px solid #eee;
      height: 40px;
      align-items: center;
      justify-content: center;
      color: $color-pl;
      .left, .right {
        flex: 1;
        text-align: center;
        position: relative;
        height: 40px;
        line-height: 40px;
        font-size: $font-size-medium;
        cursor: pointer;
        i {
          vertical-align: middle;
        }
        span {
          font-size: 14px;
          margin-left: 5px;
          vertical-align: middle;
        }
      }
      .left {
        border-right: 1px solid #eee;
      }
      .active {
        color: $color-theme;
        &:after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $color-theme;
        }
      }
    }
    &__content {
      margin-top: 20px;
    }

    button {
      width: 100%;
      line-height: 40px;
      height: 40px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
  }
}
