// 主题色
$color-red: #ff3333;
$color-purple: #ff33a9;
$color-orange: #ff8833;
$color-blue: #00a4ff;
$color-blue-d: #0092ee;

// 文字色
$color-black: #000;
$color-dark: #222;
$color-deep: #555;
$color-pl: #999999;
$color-weak: #b3b3b3;
$color-white: #fff;

$color-theme: rgb(255, 208, 75);

// 背景色
$bg-bar: #f9f9f9;
$bg-page: #f5f7f9;
$bg-page-light: #f9f9f9;
$bg-page-dark: #343434;
$bg-page-dark-capacity: rgba(52, 52, 52, 0.9);

// 字体大小
$font-size-small-s: 10px;
$font-size-small-x: 13px;
$font-size-small: 12px;
$font-size-medium-s: 15px;
$font-size-medium: 16px;
$font-size-medium-x: 18px;
$font-size-large-s: 20px;
$font-size-large: 22px;
$font-size-large-x: 24px;
